<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <title>Update user</title>
  <meta charset="UTF-8">
</head>
<body>
<form th:action="@{/edit}" th:object="${user}" method="post">
  <p><input type="hidden" th:field="*{id}"/></p>

  <p><label for="name"> name</label></p>
  <p><input type="text" th:field="*{name}" id="name" value="name" required></p>

  <p><label for="lastName">lastName</label></p>
  <p><input type="text" th:field="*{lastName}" id="lastName" value="lastname" required></p>

  <p><label for="email">email</label></p>
  <p><input type="text" th:field="*{email}" id="email" value="email" required></p>

  <p><input type="submit" value="update user!"></p>
</form>
</body>
</html>